doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css')

    script(rel='stylesheet', src='https://use.fontawesome.com/releases/v5.3.1/js/all.js', defer )
   
  body
    block content
